.ai-language-tabs {
  button {
    .d-icon-spinner {
      animation: rotate-forever 1s infinite linear !important;
      margin-left: 4px;
      display: inline-block;
    }

    span .d-icon-spinner {
      animation: rotate-forever 1s infinite linear !important;
    }
  }
}
